@font-face {
    font-family: 'ProtestGuerrilla-Regular';
    src: url(/css/FUENTES/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {

    width: 100%;
}


header{
    width: 100%;
    height: 90px;
}

.cabeceraPrincipal{
    display: flex;
    width: 100%;
    height: 100%;
}

.logoCabecera{
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}

#imgLogoCabecera{
    width: 100%;
}

.tituloCabecera{
    display: flex;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    align-items: center;
}

#imgTituloCabecera{
    padding-left: 20px;
    width: 60%;
    height: 100%;
}

.contenedor {
    /*Es donde se encuentra el contenedor del logo de la empresa y el login*/
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 700px;
    border-top: 3px solid rgb(40, 36, 36);
    padding-top: 30px;
}

.contenedor form{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.registro { /*Donde se ubica el registro donde solicita correo y contraseña*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    float: left; 
    width: 700%;
}

.registro h2{
    font-size: 40px;
}

form input{
    height: 40px;
    text-align: center;
    border-radius: 15px;
}

.BotonIni { /* Este es el estilo de los cuadros donde se ingresa "correo - contraseña" */
    margin-bottom: 1%;
    padding: 0.5%;
    padding-left: 0.5%;
    border: none;
    border-bottom: solid 1px #000000;
    text-align: center;
    font-size: 12px;
    background: none;
    outline: none;
    box-sizing: border-box;
}

.login { /*Estilo del boton "Ingresar"*/
    height: 30px;
    background-color: rgb(73, 79, 77);
    border: none;
    margin-bottom: 16px;
    font-size: 11px;
    color: white;
}
footer{ /*Footer de la pagiina-(pide de pag)*/
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    height: 4%;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8%;
}
@media(min-width:720px){
    .contenedor{
        width: 100%;
        padding: 10px 30px;
    }


    .logo{
        background-image: url(../img/imgLogin.jpg);
        width: 50%;
        min-width: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border-radius: 40px;
    }
    
    .registro{
        width: 50%;
    }
}

